# Packages
node_modules/
yarn.lock

# Miscellaneous
.vscode/

#Test
test/

# NPM ignore
.eslintrc.json
.gitattributes
.gitignore
.travis.yml
webpack.config.js
.github/
test/
tsconfig.json
tslint.json
